body{
    margin: 0;
}



.images{
    padding: 50px 0;
}
.container{
    margin: 0 auto;
    width: 960px;
    border: 1px solid red;
    overflow: hidden;
}
.img_items{
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 3px;
}
.img_items img{
    width: 100%;
}



.icon i{
   font-size: 50px;
    width: 15px;
    height: 15px;
    padding: 10px;
    color: red;
}
